<strong> Olá {{provider}}</strong>
<p> Houve uma resposta ao seu pedido de auxilio, confira os detalhes abaixo</p>
<p>
<strong>Aluno ID: </strong>{{student}}<br />
<strong>Data/Hora:</strong>{{answer_at}}<br />
<small>
  Pergunta: {{question}} <br />
  Resposta: {{answer}} <br />
</small>
</p>
